.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 20px;
  padding: 20px;
  background-color: aqua;
}

.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-10px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.btn-primary {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.20);
}

.head {
  font-family: knewave;
  text-align: center;
  color: red;
}
